$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-light-1: #f9f5f3;
$color-grey-light-2: rgb(242, 239, 238);
$color-grey-light-3: #eeeae8;
$color-grey-light-4: #d3c7c3;
$color-grey-dark-1: #615551;
$color-grey-dark-2: #918581;

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);
$transition: all 0.3s;
$border-radius: 10rem;

$bp-large: 78.15em;
$bp-medium: 61.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;
